<div *ngIf="system">
    <label>System name:</label>
    <input [(ngModel)]="system.name" placeholder="System name" />
    <button (click)="validateSystem()">Validate</button>
</div>

<div *ngIf="error">
    <p>Not found</p>
</div>

<div *ngIf="nearestSystems">
    3 Nearest systems are:
    <ul>
        <li *ngFor="let sys of nearestSystems">
            {{sys.name}} {{sys.distance}} ly 
        </li>
    </ul>
</div>

<shipdata-comp [isSystemValidated]="isSystemValidated" [system]="system" ></shipdata-comp>